* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #EF4400;
    color: #0f0707;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #EF4400;
    color: #fcf9f9;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #1b1a1a;
    font-size: 18px;
}

nav ul li a:hover {
    color: #ff7f50;
}

.menu-section {
    padding: 40px 0;
    background-color: #720808;
    margin-bottom: 20px;
}

.menu-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #fcf9f9;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-item {
    width: 35%;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.menu-item .description {
    font-size: 16px;
    margin-bottom: 10px;
}

.menu-item .price {
    font-size: 18px;
    font-weight: bold;
    color: #141313;
}
footer{
   background-color: #333;
        color: #fff;
        text-align: center;
        padding: 15px;
        position: relative;
        bottom: 0;
        width: 100%;
        
}
#localizaçao{
    text-align: center;
    padding: 20px;
    background-color: #cf1212;
    margin-top: 20px;
    border-radius: 8px;
}

#localizaçao p {
    font-size: 1rem;
    color: #720808;
    margin-bottom: 15px;
}
